.friendList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.item {
    text-align: center;
    margin: 10px;
}

.status {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.name {
    margin: 5px 0;
}